<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NetgearTestSuite">
    <test name="Netgear Test Cases">
        <classes>
            < class name = "com.netgear.test.LaunchNetgear" />
            < class name= "com.netgear.test.ExtractProduct" />
        </classes>
    </test>
</suite>
